openapi: 3.0.3
info:
  title: Notifly API
  version: 1.0.0
  contact:
    email: contact@notifly.tech
servers:
  - url: https://api.notifly.tech
    description: Notifly API 서버입니다
paths:
  /authenticate:
    post:
      summary: Authentication
      operationId: authenticate
      x-mint:
        metadata:
          title: "API 인증 토큰 발급하기"
          description: "Access Key와 Secret Key를 사용하여 1시간 유효한 인증 토큰을 발급받습니다. 모든 API 요청 시 Authorization 헤더에 포함해주시기 바랍니다. 과도한 호출을 방지하기 위해 1시간 이내의 재호출은 기존 토큰을 재활용하는 것을 권장합니다."
          og:title: "Notifly 인증 API"
          og:description: "안전하고 빠르게 API 인증 토큰 발급하기"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accessKey
                - secretKey
              properties:
                accessKey:
                  type: string
                  description: Notifly 프로젝트 설정 페이지에서 확인하실 수 있습니다. 각 프로젝트별로 1개의 Access Key가 존재합니다.
                  example: example1234567890abcdef1234567890ab
                secretKey:
                  type: string
                  description: Notifly 프로젝트 설정 페이지에서 확인하실 수 있습니다. 각 프로젝트별로 1개의 Secret Key가 존재합니다.
                  example: EXAMPLEabc9%
      responses:
        '200':
          description: 성공적인 인증입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: 클라이언트 오류입니다 (잘못된 요청, 인증 실패 등)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 서버 내부 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        data:
          type: string
          description: 인증 토큰 값입니다 (1시간 유효)
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example
        error:
          type: string
          nullable: true
          description: 성공 시 null입니다
          example: null
    ErrorResponse:
      type: object
      properties:
        data:
          type: string
          nullable: true
          description: 오류 시 null입니다
          example: null
        error:
          type: string
          description: 오류 메시지입니다
          example: Error message describing what went wrong
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 인증 토큰을 Authorization 헤더에 포함해주시기 바랍니다
