openapi: 3.0.3
info:
  title: Notifly API
  version: 1.0.0
  contact:
    email: contact@notifly.tech
servers:
  - url: https://api.notifly.tech
    description: Notifly API 서버입니다
paths:
  /authenticate:
    post:
      summary: 인증
      operationId: authenticate
      x-mint:
        metadata:
          title: "API 인증 토큰 발급하기"
          description: "Access Key와 Secret Key를 사용하여 1시간 유효한 인증 토큰을 발급받습니다. 모든 API 요청 시 Authorization 헤더에 포함해주시기 바랍니다. 과도한 호출을 방지하기 위해 1시간 이내의 재호출은 기존 토큰을 재활용하는 것을 권장합니다."
          og:title: "Notifly 인증 API"
          og:description: "안전하고 빠르게 API 인증 토큰 발급하기"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accessKey
                - secretKey
              properties:
                accessKey:
                  type: string
                  description: Notifly 프로젝트 설정 페이지에서 확인하실 수 있습니다. 각 프로젝트별로 1개의 Access Key가 존재합니다.
                  example: example1234567890abcdef1234567890ab
                secretKey:
                  type: string
                  description: Notifly 프로젝트 설정 페이지에서 확인하실 수 있습니다. 각 프로젝트별로 1개의 Secret Key가 존재합니다.
                  example: EXAMPLEabc9%
      responses:
        '200':
          description: 성공적인 인증입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: 클라이언트 오류입니다 (잘못된 요청, 인증 실패 등)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 서버 내부 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /track-event:
    post:
      summary: 이벤트 트래킹
      operationId: trackEvent
      security:
        - bearerAuth: []
      x-mint:
        metadata:
          title: "이벤트 트래킹"
          description: "사용자 행동 이벤트나 전역 이벤트를 Notifly 엔진으로 전송합니다. 수집된 이벤트 데이터는 캠페인 트리거, 세그먼트 설정, 메시지 개인화 등에 사용됩니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - projectID
                  - eventName
                  - userID
                properties:
                  projectID:
                    type: string
                    description: Notifly 팀에서 제공하는 프로젝트 ID입니다. 문의 - contact@notifly.tech
                  eventName:
                    type: string
                    description: 이벤트 이름
                  eventParams:
                    type: object
                    description: 이벤트와 관련된 추가 파라미터
                  segmentationEventParamKeys:
                    type: array
                    items:
                      type: string
                    description: 세그먼트 분류 시 특별 처리되는 파라미터 키 목록 (최대 1개만 허용)
                  userID:
                    type: string
                    description: 사용자 식별자
            example:
              - projectID: "example_project_1234567890abcdef"
                eventName: "product_view"
                eventParams:
                  product_id: "SH-12345"
                  product_name: "라코스테 폴로 셔츠"
                  brand: "라코스테"
                  category: "셔츠"
                  price: 89000
                  discount_rate: 30
                segmentationEventParamKeys:
                  - brand
                userID: "user_abc123"
      responses:
        '200':
          description: 성공적인 이벤트 전송입니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: 성공 메시지
              example:
                message: "Successfully tracked events 3 events"
        '400':
          description: 요청 본문 형식 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 인증 실패입니다 (만료 또는 잘못된 토큰)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 서버 내부 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /set-user-properties:
    post:
      summary: 사용자 속성 설정
      operationId: setUserProperties
      security:
        - bearerAuth: []
      x-mint:
        metadata:
          title: "사용자 속성 설정"
          description: "사용자 속성을 Notifly 엔진에 등록하거나 업데이트합니다. 등록된 속성은 세그먼트 분류 및 개인화 메시지에 활용됩니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserPropertySingle'
              description: 사용자 배열 (최대 1,000명)
            example:
              - projectID: "example_project_1234567890abcdef"
                userID: "user_abc123"
                userProperties:
                  $email: "user@example.com"
                  $phone_number: "01012345678"
                  hobby: "coding"
                  age: 30
                  gender: "Male"
      responses:
        '200':
          description: 성공적인 속성 업데이트입니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: 업데이트된 행 수
              example:
                data: 3
        '400':
          description: 요청 본문 형식 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 인증 실패입니다 (만료 또는 잘못된 토큰)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: 요청 크기 초과입니다 (1,000명 이상 요청)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 서버 내부 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users:
    delete:
      summary: 사용자 삭제
      operationId: deleteUsers
      security:
        - bearerAuth: []
      x-mint:
        metadata:
          title: "사용자 삭제"
          description: "Notifly에 등록된 사용자를 삭제합니다. 사용자 ID, 이메일, 전화번호 중 하나를 기준으로 단일 또는 다중 삭제를 지원합니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserDeleteSingle'
              description: 사용자 배열 (최대 1,000명)
            example:
              - projectID: "example_project_1234567890abcdef"
                userID: "user_abc123"
              - projectID: "example_project_1234567890abcdef"
                userProperties:
                  $email: "delete@example.com"
      responses:
        '200':
          description: 성공적인 사용자 삭제입니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: 삭제된 행 수
              example:
                data: 5
        '400':
          description: 요청 본문 형식 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 인증 실패입니다 (만료 또는 잘못된 토큰)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: 요청 크기 초과입니다 (1,000명 이상 요청)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 서버 내부 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /projects/{projectId}/campaigns/{campaignId}/send:
    post:
      summary: 캠페인 트리거
      operationId: triggerCampaign
      security:
        - bearerAuth: []
      x-mint:
        content: |
          <Info>
            **API 기반 발송 지원 채널**
            
            현재 API 기반 발송은 다음 채널에 대해 지원됩니다.
            
            - 푸시 알림
            - 웹 푸시 알림
            - 카카오 알림톡
            - 카카오 친구톡
            - 문자 메시지
            - 이메일
          </Info>
          
          <Warning>
            **수신자 유형 지원 범위와 메시지 개인화**
            
            설정된 캠페인의 발송 채널마다 지원되는 수신자 유형이 다를 수 있습니다. 만약 캠페인의 발송 채널이 지원하지 않는 수신자 유형을 사용하면, API 응답으로 400 Bad Request가 반환됩니다.
            
            - 푸시 알림: `user-id` 유형의 수신자만 지원됩니다.
            - 웹 푸시 알림: `user-id` 유형의 수신자만 지원됩니다.
            - 카카오 알림톡: `user-id` 및 `phone-number` 유형의 수신자를 지원합니다.
            - 카카오 친구톡: `user-id` 및 `phone-number` 유형의 수신자를 지원합니다.
            - 문자 메시지: `user-id` 및 `phone-number` 유형의 수신자를 지원합니다.
            - 이메일: `user-id`, `email` 유형의 수신자만 지원됩니다.
            
            수신자 유형이 `user-id`가 아닌 경우, Notifly 서버는 유저 데이터베이스에서 해당 유저에 대한 정보를 받아오지 않고, 요청 payload에 명시되어있는 정보로만 발송을 시도합니다.
            
            따라서, 수신자 유형이 `user-id`가 아닌 경우 **유저 기반 메시지 개인화 기능**을 사용하실 수 없습니다. 예를 들어, 이 경우 캠페인의 메시지 내용에 `{{ user["name"] }} 님 안녕하세요`라는 구문이 들어있다면, 개인화는 실패하고 `님 안녕하세요`라는 메시지가 발송됩니다.
            
            이벤트 파라미터는 모든 유형에 대해 사용 가능합니다.
          </Warning>
          
          <Info>
            **중복 제거**
            
            API 기반 발송은 중복 발송을 방지하기 위해 수신자의 중복 여부를 체크합니다. 동일한 수신자가 여러 번 포함되어 있는 경우, 중복된 수신자는 한 번만 발송됩니다. 다음은 채널 별 중복 제거 규칙입니다.
            
            - 푸시 알림: 동일한 디바이스 토큰일 경우, 하나의 디바이스 토큰에만 메시지를 발송합니다.
            - 웹 푸시 알림: 동일한 디바이스 토큰일 경우, 하나의 디바이스 토큰에만 메시지를 발송합니다.
            - 카카오 알림톡: 동일한 전화번호일 경우, 하나의 전화번호에만 메시지를 발송합니다.
            - 카카오 친구톡: 동일한 전화번호일 경우, 하나의 전화번호에만 메시지를 발송합니다.
            - 문자 메시지: 동일한 전화번호일 경우, 하나의 전화번호에만 메시지를 발송합니다.
            - 이메일: 동일한 이메일 주소일 경우, 하나의 이메일 주소에만 메시지를 발송합니다.
          </Info>
        metadata:
          title: "캠페인 트리거"
          description: "특정 캠페인을 API를 통해 직접 트리거하여 지정된 수신자에게 발송합니다."
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: 프로젝트 ID
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
          description: 캠페인 ID (콘솔에서 확인)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recipients
              properties:
                recipients:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: 수신자 유형 (기본값 user-id). user-id, phone-number, email 지원
                        enum:
                          - user-id
                          - phone-number
                          - email
                      userId:
                        type: string
                        description: 사용자 ID (type이 user-id인 경우 필수)
                      phoneNumber:
                        type: string
                        description: 전화번호 (type이 phone-number인 경우 필수)
                      email:
                        type: string
                        description: 이메일 주소 (type이 email인 경우 필수)
                      eventParams:
                        type: object
                        description: 메시지 개인화를 위한 이벤트 파라미터
                  description: 수신자 목록 (최대 1,000명)
            example:
              recipients:
                - userId: "alice"
                  eventParams:
                    messageTitle: "Hello Alice!"
                    messageBody: "How are you?"
                - userId: "bob"
                  eventParams:
                    messageTitle: "Hello Bob!"
                    messageBody: "How are you?"
      responses:
        '200':
          description: 성공적인 캠페인 트리거입니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  error:
                    type: string
                    nullable: true
              example:
                code: 200
                success: true
                error: null
        '400':
          description: 요청 본문 형식 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'
        '401':
          description: 인증 실패입니다 (만료 또는 잘못된 토큰)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'
        '405':
          description: 지원되지 않는 HTTP 메서드입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'
        '413':
          description: 요청 크기 초과입니다 (1,000명 이상 요청)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'
        '500':
          description: 서버 내부 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'
        '501':
          description: 아직 지원되지 않는 기능입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'

  /projects/{projectId}/user-journeys/{userJourneyId}/enter:
    post:
      summary: 유저 여정 트리거
      operationId: triggerUserJourney
      security:
        - bearerAuth: []
      x-mint:
        content: |
          <Warning>
            **주의 사항**
            
            HTTP API를 이용한 유저 여정 진입의 경우, 유저 여정의 진입 시점 유형이 **API 기반 진입**으로 설정되어있는 경우에만 사용 가능합니다.
          </Warning>
        metadata:
          title: "유저 여정 트리거"
          description: "유저 여정을 API로 직접 트리거합니다. 개별 사용자에게 유저 여정 시작 이벤트를 발행할 때 사용합니다."
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: 프로젝트 ID
        - name: userJourneyId
          in: path
          required: true
          schema:
            type: string
          description: 유저 여정 ID (콘솔에서 확인)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - users
              properties:
                users:
                  type: array
                  items:
                    type: object
                    required:
                      - userId
                    properties:
                      userId:
                        type: string
                        description: 유저 여정에 진입할 유저의 ID
                      eventParams:
                        type: object
                        description: 이벤트 파라미터를 포함하는 객체. 해당 파라미터로 메시지를 개인화시킬 수 있습니다.
                  description: 유저 여정에 진입할 유저 목록 (최대 1,000명)
            example:
              users:
                - userId: "alice"
                  eventParams:
                    messageTitle: "Hello Alice!"
                    messageBody: "How are you?"
                - userId: "bob"
                  eventParams:
                    messageTitle: "Hello Bob!"
                    messageBody: "How are you?"
      responses:
        '200':
          description: 성공적인 저니 트리거입니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  success:
                    type: boolean
                  error:
                    type: string
                    nullable: true
              example:
                code: 200
                success: true
                error: null
        '400':
          description: 요청 본문 형식 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'
        '401':
          description: 인증 실패입니다 (만료 또는 잘못된 토큰)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'
        '500':
          description: 서버 내부 오류입니다
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignErrorResponse'

components:
  schemas:
    UserPropertySingle:
      type: object
      required:
        - projectID
        - userProperties
        - userID
      properties:
        projectID:
          type: string
          description: Notifly 팀에서 제공하는 프로젝트 ID입니다. 문의 - contact@notifly.tech
        userProperties:
          type: object
          description: 사용자 속성(key-value)
        userID:
          type: string
          description: 사용자 식별자
      example:
        projectID: "example_project_1234567890abcdef"
        userID: "user_abc123"
        userProperties:
          $email: "user@example.com"
          $phone_number: "01012345678"
          hobby: "coding"
          age: 30
          gender: "Male"

    UserDeleteSingle:
      type: object
      required:
        - projectID
      properties:
        projectID:
          type: string
          description: Notifly 팀에서 제공하는 프로젝트 ID입니다. 문의 - contact@notifly.tech
        userID:
          type: string
          description: 삭제할 사용자의 ID
        userProperties:
          type: object
          description: 삭제할 사용자 속성 (이메일, 전화번호 기반 삭제 지원)
          properties:
            $email:
              type: string
              description: 삭제할 사용자의 이메일 주소
            $phone_number:
              type: string
              description: 삭제할 사용자의 전화번호
      example:
        projectID: "example_project_1234567890abcdef"
        userID: "user_abc123"

    SuccessResponse:
      type: object
      properties:
        data:
          type: string
          description: 인증 토큰 값입니다 (1시간 유효)
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example
        error:
          type: string
          nullable: true
          description: 성공 시 null입니다
          example: null

    ErrorResponse:
      type: object
      properties:
        data:
          type: string
          nullable: true
          description: 오류 시 null
          example: null
        error:
          type: string
          description: 에러 메시지
        projectId:
          type: string
          nullable: true
          description: 프로젝트 ID (500 오류 시에만 포함)
          example: null
        durationMs:
          type: integer
          nullable: true
          description: 처리 시간(ms) (500 오류 시에만 포함)
          example: null

    CampaignErrorResponse:
      type: object
      properties:
        code:
          type: integer
          description: HTTP 상태 코드
        success:
          type: boolean
          description: 성공 여부
        error:
          type: string
          description: 에러 메시지
      example:
        code: 400
        success: false
        error: "Bad request: some-error-message"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: POST /authenticate로 발급받은 인증 토큰
